body {
    background-color: #000;
}

.Instagram {
    left: 800px;
    height: 20rem;
    width: 20rem;
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
        border-radius: 30%;
        position: relative;
}

div:before {
    content: "";
    border: 1rem solid #fff;
    border-radius: 30%;
    width: 12.5rem;
    height: 12.5rem;
    right: 0rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
}

div:after {
    content: "";
    border: 1rem solid #fff;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    right: 0rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
}
span {
    content: "";
    border: 1rem solid #fff;
    border-radius: 100%;
    width: 0rem;
    height: 0rem;
    right: 5rem;
    position: absolute;
    margin: auto;
    top: 5rem;
}